.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;  /* Put the box along the main-axis */
  align-items: center;  /* Put the box along the cross-axis */
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
}