/* Add CSS Styling */
.inverted {
    color:white;
    background-color: black;
}
.fancy {
    background-color: yellow;
}
.inverted,
.fancy {
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;
}