body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para {
  font-size: 22px;
}

/* 
  For the following rule, which was before .para selector, I removed it from its original position in the file:

  .small-para {
    font-size: 14px;
    font-weight: 800;
  } 

  Then I placed it after the .para selector, taking advantage of the rule order since both selectors have the same specificity. 
  
  Another solution would be keeping it in its original place and just chaining selectors, giving this rule a higher specificity:

  p.small-para {
    font-size: 14px;
    font-weight: 800;
  }
*/

.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* 
  For the following rule I removed the original .confirm selector:

  .confirm {
    background: green;
    color: white;
    font-weight: bold;
  } 

  Then I used chaining selector instead, since rule with a greater number of selectors of the same type 
  has a higher specificity than the .button selector.

  Other solutions would be to simply move the .confirm rule below the .button rule, or to use the .button.confirm selector without moving it:

  .button.confirm {
    background: green;
    color: white;
    font-weight: bold;
  }
*/
.button.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/*
  For the following rule I kept the rule where it was and just replace the div selector with the .text selector.  

  
  Another solution would be to first remove the rule from its original position in the file:

  .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
  }

  Then add another selector to create a descendant combinator. If we only created a descendant combinator, the specificity would be tied with the
  div.text selector and it would come down to rule order, and if we only moved it, the div.text selector would still have a higher specificity.
  
  div .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
  }
*/

.text .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
}

div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
